name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cancel-previous:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - uses: khan/pull-request-workflow-cancel@1.0.1
        with:
          workflows: "main.yml"
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          python-version: "3.12"

      - name: Run Lint
        run: |
          pixi run -e dev check

      - name: Run Type Checks
        run: |
          pixi run -e dev typecheck

  testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.12'
          - '3.13'
          - '3.14'
    needs: formatting
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true

      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Run tests
        run: |
            pixi run -e dev test
