name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cancel-previous:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - uses: khan/pull-request-workflow-cancel@1.0.1
        with:
          workflows: "main.yml"
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get install -y \
            liblzma-dev

      - uses: actions/checkout@v5

      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.8.1

      - name: Run Lint
        run: |
          pixi run -e dev check

      # - name: Run Type Checks
      #   run: |
      #     pixi run -e dev typecheck

  testing:
    runs-on: ubuntu-latest
    needs: formatting
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true

      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.8.1

      - name: Run tests
        run: |
            pixi run -e dev test

      - name: Run MUC1 example as smoke text
        run: |
            set -x

            mkdir -p /tmp/workdir/result
            pixi run \
                svirlpool run \
                    --threads 1 \
                    --samplename muc1test \
                    --workdir /tmp/workdir/result \
                    --alignments examples/muc1/data/muc1.bam \
                    --reference examples/muc1/data/muc1.fa \
                    --trf examples/muc1/data/muc1.trf.bed \
                    --mononucleotides examples/muc1/data/muc1.mononucleotides.lt6.bed \
                    --lamassemble-mat data/lamassemble-mats/promethion.mat
            pixi run \
                svirlpool sv-calling \
                    --threads 1 \
                    --reference examples/muc1/data/muc1.fa \
                    --input /tmp/workdir/result/svirltile.db \
                    --output /tmp/workdir/result/variants.vcf.gz
