on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  packages: write  # required for gchr.io

name: release-please

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - name: Create GitHub release
        uses: GoogleCloudPlatform/release-please-action@v4
        id: release
        with:
          # Use the built-in GITHUB_TOKEN if permissions allow, 
          # otherwise ensure BOT_TOKEN has 'workflows' scope.
          token: ${{ secrets.BOT_TOKEN }}

  build-publish:
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/bihealth/svirlpool
          tags: |
            type=raw,value=latest
            type=raw,value=${{ needs.release.outputs.tag_name }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: utils/docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
